{% extends 'base.html' %}
{% block title %} Products {% endblock %}

{% block content %}
<div>
    <p>This is Products Page</p>
    <div>
        <table id="example" class="table table-striped">
            <thead>
                <tr>
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th>Buying Price</th>
                    <th>Selling Price</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for product in products_data %}
                <tr>
                    <td>{{ product[0] }}</td>
                    <td>{{ product[1] }}</td>
                    <td>{{ product[2] }}</td>
                    <td>{{ product[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}