{% extends 'base.html' %}
{% block title %} Sales {% endblock %}

{% block content %}
<div>
    <p>This is Sales Page</p>
    <div>
        <table id="example" class="table table-striped">
            <thead>
                <tr>
                    <th>Sale Id</th>
                    <th>Product Id</th>
                    <th>Quantity</th>
                    <th>Created_at</th>
                </tr>
            </thead>
            <tbody>
                {% for sale in sales_data %}
                <tr>
                    <td>{{ sale[0] }}</td>
                    <td>{{ sale[1] }}</td>
                    <td>{{ sale[2] }}</td>
                    <td>{{ sale[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}