{% extends 'base.html' %}
{% block title %} Stock {% endblock %}

{% block content %}
<div>
    <p>This is Stock Page</p>
    <div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add Stock
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Adding Stock</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/add_stock" method="post">
                            <div class="mb-3">
                                <select class="form-select" aria-label="Default select example" name="pid">
                                    <option selected>Select Product</option>
                                       {% for product in products_data %}
                                    <option value="{{ product[0] }}"> {{ product[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Stock_Quantity</label>
                                <input type="number" class="form-control" id="exampleInputPassword1" name="s_quantity">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Add Stock</button>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div>
        <table id="example" class="table table-striped">
            <thead>
                <tr>
                    <th>Stock Id</th>
                    <th>Product Id</th>
                    <th>Stock_Quantity</th>
                    <th>Created_at</th>
                </tr>
            </thead>
            <tbody>
                {% for sale in sales_data %}
                <tr>
                    <td>{{ stock[0] }}</td>
                    <td>{{ stock[1] }}</td>
                    <td>{{ stock[2] }}</td>
                    <td>{{ stock[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}